body {
    background-color: #f3f4f6;
  }
  
  .chat-window {
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
  }
  
  /* .chat-window p {
    margin-bottom: 1rem;
  } */

  .chat-window .message {
    max-width: 75%;
    margin-bottom: 1rem;
    padding: 8px 12px;
    border-radius: 16px;
  }
  
  .chat-window .message.user {
    background-color: #d6f9dc; /* pastel green */
    margin-left: auto;
    border-bottom-right-radius: 0;
  }
  
  .chat-window .message.ai {
    background-color: #e8d6f9; /* pastel purple */
    margin-right: auto;
    border-bottom-left-radius: 0;
  }

  @media (max-width: 640px) {
    .container {
      width: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  .highlight {
    color: maroon;
    font-weight: bold;
  }

  .modal {
    z-index: 9999;
  }
  